# Telegram Bot Token (получите у @BotFather)
BOT_TOKEN=7335736665:AAHG3rBQQ_zjE6qourTYqHaTvuKDnczztgM

# Web App URL (заглушка для начала)
WEBAPP_URL=https://example.com

# Порт для сервера (опционально)
PORT=3000 